* {
    background-color: #FFD2FF;
    margin: 0;
    padding: 0;
}
.Border {
    border: 1px solid;

}

h1 {
    text-align: center;
    color: #4CAF50;
}

p {
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 3px;
    font-size: 35px;
}

.highlight {
    color: rgb(4, 187, 187);
}
